@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #333;
  color: white;
  line-height: 2.0;
  height: 100vh;
  /* overflow: hidden; */
}

h1 {
  opacity: 0;
  animation: fade-in-up ease 1.0s forwards;
  animation-delay: 0.5s;
}

hr {
  color: white;
  z-index: 1;
  width: 500px;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display:flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  opacity: 0;
  animation: fade-in-right ease 1.0s forwards;
  animation-delay: 0.5s;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  transition: 0.25s;
}

.navbar ul li a:hover {
  color: steelblue;
  transition: 0.25s;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

/* Section Images */
section#home {
  background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;
}

section#about {
  background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;
}

section#service {
  background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
}

section#contact {
  background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
}


/* Key Frames and Animations */
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
